*.TMP
*.tmp
.htaccess
htaccess.bak
htaccess.txt
error_log
wp-config.php
/ajaxplorer/
/ignore/
/tmp/
/logs/
/log/
/cli/
/cache/
/wp-content/uploads/wp-sync-db/
/wp-content/cache/
/wp-snapshots/
/cgi-bin/
/wp-content/advanced-cache.php
/wp-content/wfcache/
/wp-content/wp-cache-config.php

Thumbs.db
desktop.ini