
/* New CSS Code -----------------------------*/


html, body {
    max-width: 600px;
    margin: 0;
    padding: 0;
    overflow:scroll;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #eeeeee;
}
/*
.fullpage {
    width: 100%;
    background-color: #525252;
    
}
*/
header {
    padding: 12px 20px;
    background-color: #fff;
    color: #525252;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    overflow: auto;
}

.header-end {
    float: left;
}

.header-view {
    float: right;
}

.header-view a {
    color: #525252;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

#slide1 {
    padding-bottom: 30px;
    position: relative;
    background: #525252 url("images/footer-bg.png") no-repeat;
    background-position: right bottom;
    color: #eeeeee;
    text-align: center;
    /*overflow: auto;*/
}

.topbar {
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    width: 100%;
}

.logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 351px;
    height: 134px;
}

.chrismas-logo {
    margin: 200px 0 80px 0;
}

.page-content {
    padding: 0 25px;
    text-align: left;
}

#slide1 .title {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    line-height: 100%;
}

#slide1 .subtitle {
    font-family: 'Roboto', serif;
    font-size: 25px;
}

#slide1 hr {
    width: 60%;
    margin: 50px auto;
}

.footer-part {
    text-align: center;
}

.footer-part p {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.mailing-address-left, .mailing-address-right {
    padding: 0 0 40px 0;
    margin: 0;
    width: 45%;
    float: left;
    list-style: none;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.mailing-address-left {
    text-align:right;
    padding-right:20px;
}

.mailing-address-right {
    text-align:left;
    padding-left:20px;
}

.mailing-address-text {
    margin: 30px 0;
}

.footer-lower-part a {
    color: #eeeeee;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.footer-lower-part a.mright20 {
    margin-right: 20px;
}

@media screen and (max-width: 405px) {
    .footer-lower-part a {
        display: block;
    }
    .footer-lower-part a.mright20 {
        margin-right: 0;
        margin-bottom: 12px;
    }

    header, .header-view a {
        padding: 10px 15px;
        font-size: 10px;
    }
    .logo {
        width: 275px;
        height: auto;
    }

    .chrismas-logo {
        margin: 175px 0 60px 0;
        width: 125px;
    }
    #slide1 .title {
        font-size: 30px;
    }

    #slide1 .subtitle {
        font-size: 21px;
    }

    #slide1 {
        background-size: 100%;
    }

    .mailing-address-left, .mailing-address-right {
        width: 46%;
        font-size: 12px;
    }

    .mailing-address-left {
        padding-right: 8px;
    }

    .mailing-address-right {
        padding-left: 8px;
    }
}